<div class="container mt-5 mb-4 text-center">
    <div class="my-5 alert col-md-8 offset-md-2 shadow p-3 mb-5 bg-white rounded">
    <i class="far fa-paper-plane fa-3x mt-3 mb-4 border shadow p-3 rounded-circle"></i>
        <div class="text-center my-2">
            <%= form_tag :action => 'contactform', :controller => 'static_page' do%>
                <div class="form-row text-center mx-4">
                    <div class="mb-4 col-md-6">
                        <%= text_field_tag :last_name, options = {class: 'form-control'}  %>
                    </div>
                    <div class="mb-4 col-md-6">
                        <%= text_field_tag 'first_name' %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>