
<div class="jumbotron">
  <h1 class="display-3">Bienvenus à notre très mignon boutique de chatons!</h1>
  <p class="lead">Texte ici</p>
  <hr class="my-4">
  <p>Contenu par ici.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
  </p>
</div>


<br/>
<br/>
<div class="card-columns border-info container ">
  <% @items.each do | item | %>
    <div class="card border-info text-white bg-primary mb-3">
    <div class="card-header bg-light text-warning">
        <%= item.image_url %>
      
    </div>
    <div class="card-body">
        Prix: 
        <%= item.price %>
    
    </div>
    </div>
  <% end %>
</div>


</ul>
