
<div class="jumbotron">
  <h1 class="display-3">Bienvenue sur notre très mignonne boutique de chatons!</h1>
  <p class="lead">Texte ici</p>
  <hr class="my-4">
  <p>Contenu par ici.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
  </p>
</div>


<br/>
<br/>
<div class="card-columns border-info container">
  <% @items.each do | item | %>
    <div class="card border-secondary mb-3">
      <img class="card-img-top" src=<%= item.image_url %> alt="Cute cat image"> 
      <div class="card-body">
      <h5 class="card-title"><%= item.title %></h5>
        <p class="card-text">Prix: <%= item.price %> €</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>    
      </div>
    </div>
  <% end %>
</div>

</ul>
