<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Ceci est un message pour vous fiare savoir que votre adresse email est en cours de modification. Votre nouvelle adresse enregistrée sera <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Ceci est un message pour vous confirmer que votre adresse email a bien été modifiée. L'adresse a présent enregistrée est <%= @resource.email %>.</p>
<% end %>
