<div class="container text-center mt-5 mb-5">
  <h1>Ma wishlist</h1>
</div>


<div class="container text-center mt-5 mb-5">
  <h3>Quand les chats ne sont pas là ...</h3>
  <h6>La wishlist est vide.</h6>
</div>

<div class="container font-weight-bold">
<%= link_to " < Retour", :back %>
</div>